<div class="game-container">
        <div class="grid-container">
                <ng-container *ngFor="let item of list" >
                    <div class="grid-cell">
                        <div *ngIf="item > 0" class="tile tile-{{item}}">   
                            <div class="tile-inner">     
                                    {{item}}   
                            </div> 
                        </div>
                    </div>
                </ng-container>

        <div class="grid-container">
</div>

<button class="btn btn-lg btn-danger" style="margin-top: 50px;" (click)="submit()">
    {{'SignOut' | translate}}
</button>