
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">{{'AppName' | translate}}</h3>
                    <nav class="nav nav-masthead">
                      <a class="nav-link" href="#">{{'SignIn' | translate}}</a>
                      <a class="nav-link" href="#">Features</a>
                      <a class="nav-link" href="#">Contact</a>
                    </nav>
                </div>
            </div>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>