html,
body {
  height: 100%;
  background: #faf8ef;
  color: #776e65;
}
body {
  text-align: center;
}

.appname{
  font-size: 75px;
}

.site-wrapper {
  display: block;
  width: 100%;
}

.authentificate {
  display: block;
  margin-top: 25%;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
  height: 500px;
  width: 500px;
}

.tile {
  width: 107px;
  height: 107px;
  line-height: 107px;
}

.tile-inner {
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 30px;
}

.tile-2 {
  background: #eee4da;
}

.tile-4 {
  background: #eee1c9;
}

.tile-8 {
  color: white;
  background: #f3b27a;
}

.tile.tile-16  {
  color: white;
  background: #f69664; 
}
.tile.tile-32  {
  color: white;
  background: #f77c5f; 
}
.tile.tile-64  {
  color: white;
  background: #f75f3b; 
}
.tile-128 {
  color: white;
  background: #edd073; 
}
.tile-256 {
  color: white;
  background: #edcc62;
}
.tile-512  {
  color: white;
  background: #edc950;
}
.tile-1024 {
  color: white;
  background: #edc53f;
}
.tile-2048 {
  color: white;
  background: #edc22e;
}