<div>
    <form [formGroup]="authForm">
    
        <div class="form-group">
            <label><strong>{{'UserName' | translate}}</strong></label>
            <input class="form-control" name="userName" formControlName="userName"/>
        </div>
        
        <div class="alert alert-danger"
            *ngIf="authForm.controls['userName'].invalid && authForm.controls['userName'].touched">
            <label><strong>{{'UserNameRequire' | translate}}</strong></label>
        </div>

        <div class="form-group">
            <label><strong>{{'Password' | translate}}</strong></label>
            <input class="form-control" name="password" formControlName="password"/>
        </div>

        <div class="alert alert-danger"
            *ngIf="authForm.controls['password'].invalid && authForm.controls['password'].touched">
            <label><strong>{{'PasswordRequire' | translate}}</strong></label>
        </div>

        <div class="form-group">
            <button class="btn btn-success col-md-6" [disabled]="authForm.invalid" (click)="submit()">
                <strong>{{'SignIn' | translate}}</strong>
            </button>
        </div>
        
    </form>

    <div class="form-group">
        <button class="btn btn-info col-md-6" routerLink="/Registration">
            <strong>{{'SignUp' | translate}}</strong>
        </button>
    </div>

</div>